*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.hill-img{
	background-image:url("../img/hill.jpeg");
	height: 65vh;
	width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tree-img{
	background-image:url("../img/trees.png");
	height:35vh;
    margin-top: -35vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	animation:ani 10s linear infinite;
}
.plain-img{
	background-image:url("../img/plain.png");
	height: 35vh;
    margin-top: -30vh;
    background-position: center;
    background-attachment: fixed;
	animation:ani 10s reverse infinite;
}
.car-img{
	position: absolute;
    top: 50vh;
    width: 100%;	
}
.car-animate{
	width:150px;
	height:150px;
	animation:animate 10s linear infinite;
}
.road-img{
	background-image:url("../img/road.jfif");
	height:20vh;
    margin-top: -10vh;
    background-position: center;
    background-size:contain;
	/* background-attachment:fixed; */
	animation:ani 8s reverse infinite;
}
@keyframes animate {
	from{
	margin:0;
	}
	to{
		margin-left:calc(100% - 150px);
	}
}
@keyframes ani {
	0%{
		background-position:0;
	}
	100%{
		background-position:100%;
	}
}











